* {
  padding: 0;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
  transition: all 1s;
}

.flex {
  display: flex;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.grid {
  display: grid;
}

.block {
  display: block;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  /*color: black;*/
}

/*NAV BAR*/
.nav {
  flex-direction: column;
  padding-bottom: 20px;/**/
}

.nav-logo {
  padding-top: 5px;
  background-color: black;
  width: 100px;
}

.nav-menu {
  flex-direction: column;
  width: 100%;
}

.nav-logo img {
  align-items: center;
  margin: 15px;
}

.nav-logo-list {
  padding-left: 15px;
  font-size: small;
}

.nav-logo-list a,
.nav-about a,
.white-bar-text a,
.yellow-bar a {
  padding-right: 10px;
}

.nav-about {
  font-size: small;
  padding-left: 15%;
}

.nav-icons {
  padding-right: 3%;
  padding-top: 4px;
}

.nav-icons img {
  width: 30px;
  align-items: center;
  padding-left: 5px;
  border-left: 1px solid rgb(230, 228, 228);
}

.black-bar {
  background-color: black;
  height: 32px;
  align-items: center;
  top: 0;
  width: 100%;
}

.white-bar {
  height: 48px;
  align-items: center;
  justify-content: space-between;
  font-size: small;
}

.white-bar-text {
  padding-left: 15px;
}

.white-bar-sec-text {
  display: none;
}

.white-bar a {
  color: grey;
  font-weight: 100;
}
/*
.menu-icon {
  display: block;
}
*/
.black-bar a {
  color: white;
}

.yellow-bar {
  background-color: rgb(233, 233, 3);
  height: 60px;
  align-items: center;
  padding-left: 105px;
}

.yellow-bar li {
  font-family: 'Arial Narrow', Arial, sans-serif; 
  font-size: 14px;
}

/*NAV Media*/
@media only screen and (max-width: 767px) {
  .black-bar,
  .white-bar-text {
    display: none;
  }
 
  .nav-icons {
    padding-left: 85%;
  }

  .yellow-bar {
    padding-left: 5%;
  }

}

@media only screen and (min-width: 768px) {
  .yellow-bar {
    height: 30px;
  }

  .nav-about {
    padding-left: 18%;
  }
}

@media only screen and (min-width: 1024px) {
  .nav-logo {
    display: none;
  }

  .white-bar-sec-text {
    display: block;
  }
  
  .menu-icon {
    display: none;
  }
  
  .nav-about {
    padding-left: 45%;
  }
}


/* Highlights*/

@media only screen and (max-width: 767px) {
  .header1 {
      position: absolute;
      bottom: 4px;
      font-size: 15px;
      color: #fff;
      left: 8px;
      display: block;
  }

  .logo {
      display: none;
  }
}


@media only screen and (min-width: 768px) {
  .grid-one {
      display: grid;
      grid-template-columns: 70% 30%;
  }

  .header1 {
      position: absolute;
      bottom: 4px;
      font-size: 15px;
      color: #fff;
      left: 8px;
  }

   .logo {
     display: none;
      
  }
}

@media only screen and (min-width: 1024px) {
  .logo {
      display: block;
      position: absolute;
      z-index: 3;
      top: 24px;
      left: 12px;
      height: 126px;
      width: 487px;
  }


  .grid-one {
      display: grid;
      grid-template-columns: 70% 30%;
  }

  .header1 {
      position: absolute;
      bottom: 4px;
      font-size: 20px;
      color: #fff;
      left: 8px;
  }
}

.cover-image {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/02/Untitled-design-5-796x417.png");
  background-repeat: no-repeat;
  min-height: 30vh;
  position: relative;
  padding-top: 120px;
  margin: 5px;
  background-size: cover;
  background-position: 50%;
  padding: 0;
  box-sizing: border-box;
}

/* FUNDING*/
.funding {
  padding-left: 25px;
}

.funding-title a {
  color: red;
  margin: 15px;
  
}

.funding-title{
  
}

.funding-list {
  padding: 8px 8px 8px 0;
  max-width: 100%;
}

.funding-element {
  margin-bottom: 15px;
}

.funding-element img {
  width: 50px;
  position: absolute;
  margin: 10px;
}

.fun-elem-4th {
  display: none;
}

.funding-h3 {
  color: white;
  background-color: red;
  padding: 10px;
 
}

.funding-h3 h3 {
  margin-left: 57px;
}

.money-text  {
  margin-left: 47px;
}

.funding-money {
  background-color: rgba(255,68,34,.08);
  padding: 20px;
  padding-top:2px;
}

.funding-money h5 {
  font-size:12px;
  font-weight: 200;
}

.funding-links {
  background-color: rgba(245, 198, 189, 0.08);
  padding: 20px;
}

.funding-links a {
  color: black;
  margin: 5px;
  padding-bottom: 5px;
  font-weight: 200;
  font-size: 15px;
}

.funding-desc {
  border-top: 1px solid red;
  background-color: rgba(238, 191, 182, 0.08);
  padding: 10px;
}

.funding-desc p {
  font-weight: 200;
  font-size: 12px;
}

@media only screen and (max-width: 767px) {

}



@media only screen and (min-width: 768px) {
  .funding-list  {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    max-width: 1192px;
    
  }
  .funding,
  .funding-title,
  .funding-tags {
    display: flex;
    
  }
  .funding,
  .funding-title {
    flex-direction: column;
  }

  .funding-element {
    margin-left: 15px;
  }
}

@media only screen and (min-width: 1024px) {
  .funding-list  {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    max-width: 1192px;
    
  }

  .funding-title {
    /*margin:  0 auto 0 60px;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .funding-element {
    margin-left: 15px;
  }

  .fun-elem-4th {
    display: block;
  }
}

/* FOOTER*/
.first-footer {
  background-color: #555;
  padding-bottom: 30px;
}

.first-footer ul {
  padding-top: 45px;
  display: table;
  margin: 0 auto;
  list-style-type: none;
}

.social li a {
  background: #333;
  border-radius: 50%;
  padding: 16px;
  color: white;
  margin-left: 10px;
}

.second-ul li a {
  font-size: 16px;
  color: white;
  margin-left: 20px;
}

.first-footer li{
  float: left;
}

.second-footer{
  background-color: black;
  height: 100%;
  width: 100%;
  padding-bottom: 7px;
}

.contant-footer {
  justify-content: center;
  padding: 20px 0;
  background-color: #000;
}

.footer-logo {
  height: 9px;
}

.footer-p{
  display: block;
  color: #aaa;
  height: 58px;
  width: 100%;
  padding: 0 85px;
  text-align: center;
}

@media only screen and (max-width: 767px){
  .social li {
      margin-left: 7px;
  }
  
  .second-ul li a { 
      font-size: 14px;
  }

  .second-ul li {
      margin-left: 12px;
  }
}
