* {
  padding: 0;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
  transition: all 1s;
}

.flex {
  display: flex;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.grid {
  display: grid;
}

.block {
  display: block;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* NAV BAR */

.nav {
  flex-direction: column;
  top: 0;
  position: fixed;
  overflow: hidden;
  z-index: 100;
  width: 100%;
  background-color: white;
  justify-content: space-between;
  box-shadow: 0 1px 10px grey;
}

.nav-logo {
  padding-top: 5px;
  background-color: black;
  width: 100px;
}

.nav-menu {
  flex-direction: column;
  width: 100%;
}

.nav-logo img {
  align-items: center;
  margin: 15px;
}

.nav-logo-list {
  padding-left: 15px;
  font-size: small;
}

.nav-logo-list a,
.nav-about a,
.white-bar-text a,
.yellow-bar a {
  padding-right: 10px;
}

.nav-about {
  font-size: small;
}

.nav-icons {
  padding-right: 3%;
  padding-top: 4px;
}

.nav-icons img {
  width: 30px;
  align-items: center;
  padding-left: 5px;
  border-left: 1px solid rgb(230, 228, 228);
}

.black-bar {
  background-color: black;
  height: 32px;
  align-items: center;
  top: 0;
  width: 100%;
}

.white-bar {
  height: 48px;
  align-items: center;
  justify-content: space-between;
  font-size: small;
}

.white-bar-text {
  padding-left: 15px;
}

.white-bar-sec-text {
  display: none;
}

.white-bar a {
  color: grey;
  font-weight: 100;
}

.black-bar a {
  color: white;
}

.yellow-bar {
  background-color: rgb(233, 233, 3);
  height: 60px;
  align-items: center;
  padding-left: 105px;
}

.yellow-bar li {
  font-family: 'Arial Narrow', Arial, sans-serif;
  font-size: 14px;
}

/* NAV Media */
.black-bar, .white-bar-text {
  display: none;
}

@media only screen and (min-width: 768px) {
  .yellow-bar {
    height: 30px;
  }

  .nav-about {
    padding-left: 18%;
  }

  .black-bar {
    display: block;
  }

  .white-bar-text {
    display: flex;
  }
}

@media only screen and (min-width: 1024px) {
  .nav-logo {
    display: none;
  }

  .white-bar-sec-text {
    display: block;
  }

  .menu-icon {
    display: none;
  }

  .nav-about {
    padding-left: 45%;
  }
}

/* Highlights */

.grid-one {
  padding-top: 120px;
}

.header1 {
  position: absolute;
  bottom: 4px;
  font-size: 15px;
  color: #fff;
  left: 8px;
  display: block;
}

.logo {
  display: none;
}

@media only screen and (min-width: 768px) {
  .grid-one {
    display: grid;
    grid-template-columns: 70% 30%;
  }

  .header1 {
    position: absolute;
    bottom: 4px;
    font-size: 15px;
    color: #fff;
    left: 8px;
  }

  .logo {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  .logo {
    display: block;
    position: absolute;
    z-index: 3;
    top: 24px;
    left: 12px;
    height: 126px;
    width: 487px;
  }

  .grid-one {
    display: grid;
    grid-template-columns: 70% 30%;
  }

  .header1 {
    position: absolute;
    bottom: 4px;
    font-size: 20px;
    color: #fff;
    left: 8px;
  }

  .red {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: 0 0;
    opacity: 70%;
    background-image: linear-gradient(to left top, transparent, rgb(255, 0, 0));
  }
}

.cover-image {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/02/Untitled-design-5-796x417.png");
  background-repeat: no-repeat;
  min-height: 30vh;
  position: relative;
  padding: 120px 0 0 0;
  margin: 5px;
  background-size: cover;
  background-position: 50%;
  box-sizing: border-box;
}

/* Latest news */
.latest-news {
  padding-left: 10px;
}

.news-photo {
  background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/02/Pinterest-Bundle-540x270.jpg);
  background-size: cover;
  background-position: 50%;
  width: 75px;
  height: 75px;
  padding: 10px;
  margin: 7px;
}

.news-text {
  padding-left: 10px;
  font-size: 14px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.news-text a {
  text-decoration: none;
  color: black;
}

.grid-items {
  display: flex;
}

.news-title {
  color: red;
  font-size: 13px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.news-text h4 {
  font-size: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

.news-text h4 a,
 .news-text h5 {
  color: grey;
}

.news-text h5 {
  font-size: 10px;
  padding-top: 10px;
}

.news-text h3 {
  width: 90%;
  font-weight: 500;
  font-size: 14px;
  padding-top: 10px;
}

@media only screen and (min-width: 1024px) {
  .latest-news {
    display: grid;
    grid-template-rows: 10% 90%;
    margin: 0 auto;
    max-width: 1192px;
    padding: 0 20px;
    padding-top: 25px;
  }

  .news-grid {
    display: flex;
    flex-flow: row wrap;
  }

  .grid-items {
    display: block;
    padding-bottom: 13px;
  }

  .news-photo {
    width: 274px;
    height: 150px;
  }
  .news-text h3 {
    width: 250px;
    font-weight: 400;
  }

  .news-title {
    font-size: 14px;
  }
}

/* FUNDING */
.funding {
  padding-left: 25px;
}

.funding-title a {
  color: red;
  margin: 15px;
}

.funding-list {
  padding: 8px 8px 8px 0;
  max-width: 100%;
}

.funding-element {
  margin-bottom: 15px;
}

.funding-element img {
  width: 50px;
  position: absolute;
  margin: 10px;
}

.fun-elem-4th {
  display: none;
}

.funding-h3 {
  color: white;
  background-color: red;
  padding: 10px;
}

.funding-h3 a {
  color: white;
}

.funding-money a {
  color: black;
}

.funding-desc a {
  color: black;
}

.funding-h3 h3 {
  margin-left: 57px;
}

.money-text {
  margin-left: 47px;
}

.funding-money {
  background-color: rgba(255, 68, 34, 0.08);
  padding: 20px;
  padding-top: 2px;
}

.funding-money h5 {
  font-size: 12px;
  font-weight: 200;
}

.funding-links {
  background-color: rgba(245, 198, 189, 0.08);
  padding: 20px;
}

.funding-links a {
  color: black;
  margin: 5px;
  padding-bottom: 5px;
  font-weight: 200;
  font-size: 15px;
}

.funding-desc {
  border-top: 1px solid red;
  background-color: rgba(238, 191, 182, 0.08);
  padding: 10px;
}

.funding-desc p {
  font-weight: 200;
  font-size: 12px;
}

@media only screen and (min-width: 768px) {
  .funding-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    max-width: 1192px;
  }

  .funding, .funding-title, .funding-tags {
    display: flex;
  }

  .funding, .funding-title {
    flex-direction: column;
  }

  .funding-element {
    margin-left: 15px;
  }
}

@media only screen and (min-width: 1024px) {
  .funding {
    display: grid;
    grid-template-rows: 17% 90%;
    margin: 0 auto;
    max-width: 1192px;
    padding: 0 20px;
  }

  .funding-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    max-width: 1192px;
  }

  .funding-title h2 {
    vertical-align: middle;
  }

  .funding-element {
    margin-left: 15px;
  }

  .funding-title {
    display: flex;
    flex-direction: row;
  }

  .funding-tags {
    display: flex;
    flex-direction: row;
    margin: 13px 0 0 auto;
  }

  .fun-elem-4th {
    display: block;
  }
}

/* Categories */
.categories {
  padding-left: 25px;
  width: 97vw;
}

.categ-title {
  color: red;
  padding-bottom: 10px;
}

.categ-black {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-position: 0 0;
  opacity: 70%;
  background-image: linear-gradient(to left top, transparent, rgb(0, 0, 0));
}

.categ-imag-box {
  background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/02/Yacht-hed-368x276.jpg);
  background-repeat: no-repeat;
  height: 50vh;
  width: 93.5vw;
  position: relative;
  padding: 120px 0 0 0;
  background-size: cover;
  background-position: 50%;
  box-sizing: border-box;
}

.categ-header {
  position: absolute;
  bottom: 15px;
  left: 15px;
  font-size: 15px;
  color: rgb(255, 255, 255);
}

.categ-header {
  font-size: 22px;
  font-weight: bolder;
}

.categ-fig-text {
  padding-top: 3px;
}

.jack-ma-div {
  width: 97vw;
  margin-top: 3px;
  background-color: rgb(255, 217, 222);
  position: relative;
  padding-bottom: 26px;
}

.jack-ma-innertext {
  padding: 10px 0 0 10px;
  width: 450px;
}

.jack-ma-innertext h5 a {
  font-size: 21px;
}

.jack-ma-innertext h5 {
  color: red;
  font-weight: lighter;
}

.jack-ma-innertext a {
  color: red;
  font-weight: bold;
}

.jack-ma {
  display: block;
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/02/Untitled-design-6.png");
  height: 100px;
  width: 100px;
  border: 1px black;
  margin: 0 auto;
  position: absolute;
  right: 0;
  background-position: 50%;
  background-size: cover;
}

.categ-list {
  color: black;
  padding-bottom: 30px;
  padding-left: 20px;
}

.categ-list li {
  border-bottom: 1px solid rgb(219, 219, 219);
  list-style-type: disc;
  padding: 12px 0;
}

.categ-list a {
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
}

/* Categories Media */
@media only screen and (min-width: 768px) {
  .categ-imag-box {
    width: 92vw;
  }

  .jack-ma-div {
    width: 92vw;
  }

  .categ-list {
    width: 92vw;
  }
}

@media only screen and (min-width: 1024px) {
  .categ-imag-box {
    width: 25vw;
    height: 25vh;
  }

  .jack-ma-div {
    width: 25vw;
  }

  .categ-list {
    width: 25vw;
  }

  .categories {
    display: flex;
    flex-basis: 20%;
    max-width: 100%;
    flex-flow: row wrap;
    padding: 0 150px;
  }

  .categorie-article {
    margin: 0 auto;
  }
}

/* Latest Deals */
.latest-deals {
  padding-left: 25px;
}

.deals-photo {
  background-image: url("https://cdnp3.stackassets.com/b34f2af9e9ec3122eb0c0b252532b61f8a08c0ea/store/243275a3bf8c7d20203d2e6e3b9f3664926f9f8913e755d1ae8811aecd9b/sale_25748_primary_image.jpg");
  background-size: cover;
  background-position: 50%;
  width: 75px;
  height: 75px;
  padding: 10px;
  margin: 7px;
}

.deals-title {
  color: red;
  font-size: 13px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 25px;
}

.deals-title h2 {
  float: left;
}

.line h4 {
  color: rgb(128, 128, 128);
  text-decoration: line-through;
  font-size: 14px;
  font-weight: 100;
}

.line h5 {
  color: #000;
  font-weight: 100;
  font-size: 14px;
}

.latest-items {
  display: flex;
}

.deals-see-more {
  float: right;
  line-height: 18px;
  margin-right: 10px;
  font-size: 15px;
  color: rgb(255, 0, 0);
}

.yellow p {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .latest-deals {
    display: grid;
    grid-template-rows: 10% 90%;
    margin: 0 auto;
    max-width: 1192px;
    padding: 0 20px;
    padding-top: 25px;
  }

  .latest-deals-items {
    display: flex;
    flex-flow: row wrap;
  }

  .latest-items {
    display: block;
    padding-bottom: 13px;
    position: relative;
  }

  .deals-photo {
    width: 274px;
    height: 150px;
  }

  .news-text h3 {
    width: 250px;
    font-weight: 400;
  }

  .news-title {
    font-size: 14px;
  }

  .yellow {
    width: 80px;
    height: 80px;
    background-image: url(https://raw.githubusercontent.com/jpdf00/Html-and-CSS-2.0-Project-2-Building-with-Responsive-Design/main/assets/imgs/triangle.png);
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    right: 0;
  }

  .yellow p {
    display: block;
    transform: rotate(45deg);
    position: absolute;
    top: 22px;
    right: 5px;
    font-weight: bold;
    padding-bottom: 8px;
  }
}

/* FOOTER */
.first-footer {
  background-color: #555;
  padding-bottom: 30px;
}

.first-footer ul {
  padding-top: 45px;
  display: table;
  margin: 0 auto;
  list-style-type: none;
}

.social li a {
  background: #333;
  border-radius: 50%;
  padding: 16px;
  color: white;
  margin-left: 10px;
}

.second-ul li a {
  font-size: 16px;
  color: white;
  margin-left: 20px;
}

.first-footer li {
  float: left;
}

.second-footer {
  background-color: black;
  height: 100%;
  width: 100%;
  padding-bottom: 7px;
}

.contant-footer {
  justify-content: center;
  padding: 20px 0;
  background-color: #000;
}

.footer-logo {
  height: 9px;
}

.footer-p {
  display: block;
  color: #aaa;
  height: 58px;
  width: 100%;
  padding: 0 85px;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .social li {
    margin-left: 7px;
  }

  .second-ul li a {
    font-size: 14px;
  }

  .second-ul li {
    margin-left: 12px;
  }
}
